.filter__section {
  width: 68%;
  height: 7%;
  color: $color-secondary;

  @include respond(tab-land) {
    width: 76%;
    left: 12%;
  }

  @include respond(tab-port) {
    width: 80%;
    left: 10%;
  }

  @include respond(phone) {
    width: 50%;
    left: 25%;
    position: absolute;
    top: 80%;
  }

  @include respond(big-desktop) {
    height: 5%;
  }

  &--heading {
    margin: 4rem 0 1rem 0;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    color: $color-secondary;
    font-size: 2.5rem;
    font-weight: 100;
    letter-spacing: 1px;

    @include respond(phone) {
      position: absolute;
      top: 56%;
      left: 39%;
      margin-top: 3.5rem;
    }
  }

  &--input {
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: 4px;
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    display: block;
    transition: all .3s;
    color: $color-secondary;
    box-shadow: 0 0 2.5rem 0.6rem $box-shadow;
    transition: all .3s;

    &::placeholder {
      color: $color-secondary;
      font-weight: 500;
      font-family: 'Berkshire Swash', cursive;
      font-weight: lighter;

      @include respond(tab-port) {
        font-size: 1.9rem;
      }
      
      @include respond(tab-land) {
        font-size: 1.7rem;
      }
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 2.5rem 1rem $box-shadow;
    }
  }

  &--input:placeholder-shown + &--label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &--label {
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
  }
}