.header {
  width: 100vw;
  height: 6vh;
  background-color: #442d41;
  padding-top: 5px;

  &__menu__button {
    background-color: #fbfbfb;
    border-radius: 50%;
    position: fixed;
    box-shadow: 0 1rem 3rem rgba(98, 20, 39, .1);
    margin-left: 1rem;
    text-align: center;
    cursor: pointer;
    display: none;

    @include respond(tab-land) {
      display: inline-block;
      width: 5.5rem;
      height: 5.5rem;
    }

    @include respond(tab-port) {
      width: 6rem;
      height: 6rem;
    }
  }

  

  &__menu__icon {
    position: relative;
    margin-top: 2.7rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: #621427;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;            
    }

    &::before { top: .8rem;}
    &::after { top: -.8rem;}

    @include respond(tab-port) {
      margin-top: 2.9rem;
    }
  }

  &__menu__button:hover &__menu__icon::before {
      top: 1rem;
  }

  &__menu__button:hover &__menu__icon::after {
      top: -1rem;
  }

  &__heading {
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    color: #fbfbfb;
    font-size: 3.5rem;
    font-weight: 200;
  }
}