.header {
  height: 10vh;
  background: $color-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__btn {
    height: 12rem;
    width: 12rem;
    position: absolute;
    top: -9%;
    left: -4%;
    border-radius: 50%;
    background: #fff;
    z-index: 1;

    @include respond(big-desktop) {
      height: 13rem;
      width: 13rem;
      top: -7%;
    }
  }

  &__wrapper-menu {
    top: 56%;
    left: 56%;
    position: absolute;
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
    
    &.open {
      transform: rotate(-45deg);
    }

    @include respond(big-desktop) {
      left: 59%;
    }
  }

  &__heading {
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    color: $color-secondary;
    font-size: 3.5rem;
    font-weight: 200;

    @include respond(phone) {
      margin-top: 5px;
    }
  }
}

.line__menu {
  background-color: $color-primary;
  border-radius: .5rem;
  width: 100%;
  height: .4rem;

  &.half {
    width: 50%;
  }

  &.start {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
  }

  &.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
  }
}

.open .line__menu.end {
  transform: rotate(-90deg) translateX(-2px);
}

.open .line__menu.start {
  transform: rotate(-90deg) translateX(2px);
}