.infoWindow {
  &__heading {
    color: $color-info-1;
    margin-bottom: 5px;
  }

  &__description, &__address {
    color: $color-info-2;
    margin-bottom: 9px;
    font-weight: bold;
  }

  &__image {
    width: 27%;
  }
}