.locations {
  width: 68%;
  margin-top: 8rem;
  // position: relative;
  // left: 16%;
  list-style-type: none;
  border-radius: 1rem;
  padding: 1rem;
  color: $color-secondary;
  text-align: center;
  box-shadow: 0 0 2.5rem 0.6rem $box-shadow;
  display: flex;

  @include respond(tab-port) {
    width: 80%;
    left: 10%;
  }

  @include respond(tab-land) {
    width: 76%;
    left: 12%;
  }

  @include respond(phone) {
    width: 50%;
    left: 25%;
    position: absolute;
    margin-top: 1.5rem;
  }

  @include respond(phone2) {
    
  }

  &__heading {
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 0.5rem;
    text-transform: uppercase;
    border-right: 1px solid;
    margin-right: 1.1rem;
    writing-mode: vertical-lr;
    text-orientation: upright;

    @include respond(phone) {
      font-size: 1.4rem;
    }
  }

  &--heading {
    position: absolute;
    text-align: center;
  }

  &__list {
    list-style: none;
    display: inline-block;

    &--location {
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: 0.5rem;

    @include respond(phone2) {
      font-size: 1.6rem!important;
    }

    @include respond(phone) {
      font-size: 2.5rem;
      margin-left: 1.8rem;
    }

    @include respond(big-desktop) {
      font-size: 2rem;
    }
      &:hover {
        border-bottom: 1px solid $color-secondary;
      }
    }
  }
}