.locations {
  width: 68%;
  list-style-type: none;
  border-radius: 1rem;
  padding: 1rem;
  color: $color-secondary;
  text-align: center;
  box-shadow: 0 0 2.5rem 0.6rem $box-shadow;
  display: flex;
  // font-size: 2rem;

  @include respond(tab-land) {
    width: 80%;
  }

  @include respond(tab-port) {
    flex-direction: column;
    padding: 1rem 5rem;
  }

  &__heading {
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 0.5rem;
    text-transform: uppercase;
    border-right: 1px solid;
    margin-right: 1.1rem;
    writing-mode: vertical-lr;
    text-orientation: upright;

    @include respond(tab-land) {
      font-size: 2.2rem;
    }
    
    @include respond(tab-port) {
      font-size: 2.5rem;
      letter-spacing: 2px;
      writing-mode: initial;
      border-bottom: 1px solid;
      border-right: none;
      margin-right: 0;
      text-orientation: initial;
    }
  }

  &__list {
    list-style: none;

    @include respond(tab-port) {
      padding-top: 1rem;
    }

    &--location {
    font-family: 'Berkshire Swash', cursive;
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
    transition: color .5s;

    // @include respond(phone2) {
    //   font-size: 1.6rem!important;
    // }

    // @include respond(phone) {
    //   font-size: 2.5rem;
    //   margin-left: 1.8rem;
    // }

    @include respond(big-desktop) {
      font-size: 2rem;
    }

    @include respond(tab-land) {
      font-size: 2.5rem;
    }

    @include respond(tab-port) {
      letter-spacing: 2px;
    }

      &:hover {
        color: #fff;
      }
    }
  }
}