#map {
  height: 94vh;
  width: 70vw;
  display: inline-block;
  position: absolute !important;
  box-shadow: 0px 0px 19px 9px rgba(241, 229, 212, 0.7);

  @include respond(phone) {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    box-shadow: 0px;
  }
}

.map__big {
  width: 100% !important;
}

