#map {
  // height: 100%;
  width: 70%;
  transition: all .6s;
  display: inline-block;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  background: url(./map_test_image.png);


  @include respond(phone) {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    box-shadow: 0px;
  }
}

.map__big {
  transform: translateX(-20%);
}

