.sidebar {
  height: 100vh;
  width: 30vw;
  // background-image: linear-gradient(to top right, #faa945, #f3c13a);
  background-color: #442d41;
  display: inline-block;
  box-shadow: inset -1.5rem 0 2rem -0.9rem rgba(241,229,212,0.7);
}