.sidebar {
  width: 30%;
  transition: all .6s;
  background: $color-primary;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 0; // for tab-port

  &__invisible {
    transform: translateX(-100%);
    
    @include respond(tab-port) {
      z-index: -1;
      transform: translateY(-110%);
    }
  }

  @include respond(tab-land) {
    width: 40%;
  }

  @include respond(tab-port) {
    width: 100%;
    margin-top: 7vh;
  }
  
  // @include respond(phone) {
  //   display: flex;
  //   flex-flow: wrap;
  //   width: 100%;
  //   box-shadow: 0px 0px 0px;
  //   height: 30vh;
  // }
}