.sidebar {
  // height: 100%;
  width: 30%;
  // background-color: #442d41;
  background: $color-primary;
  // background-image: linear-gradient(to right bottom, #fef3f1, #fde9e2, #fbddd3, #fcd2c4, #fbc8b7);
  // display: inline-block;
  border-bottom-right-radius: 3rem;
  // position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &__invisible {
    display: none !important;    
  }

  @include respond(phone) {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    box-shadow: 0px 0px 0px;
    height: 30vh;
  }
}