*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.App {
  height: 100vh;
  width: 100vw; }

body {
  font-family: Helvetica, Arial, sans-serif; }

#map {
  height: 100vh;
  width: 70vw;
  display: inline-block;
  position: absolute !important; }

.sidebar {
  height: 100vh;
  width: 30vw;
  background-color: #442d41;
  display: inline-block;
  box-shadow: inset -1.5rem 0 2rem -0.9rem rgba(241, 229, 212, 0.7); }

.locations {
  width: 68%;
  position: relative;
  left: 16%;
  list-style-type: none;
  border-radius: 1rem;
  padding: 1rem;
  color: #fbfbfb;
  text-align: center;
  box-shadow: 0 0 2.5rem 0.6rem rgba(98, 20, 39, 0.6);
  display: flex; }
  .locations__heading {
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 0.5rem;
    text-transform: uppercase;
    border-right: 1px solid;
    margin-right: 1.1rem;
    writing-mode: vertical-lr;
    text-orientation: upright; }
  .locations__list {
    list-style: none;
    display: inline-block; }
    .locations__list--location {
      font-size: 2.3rem;
      margin-bottom: 0.5rem; }
      .locations__list--location:hover {
        border-bottom: 1px solid #fbfbfb; }

.filter__section {
  width: 68%;
  height: 5%;
  position: relative;
  left: 16%;
  border-radius: 2px;
  box-shadow: 0 0 2.5rem 0.6rem rgba(98, 20, 39, 0.6);
  color: #fbfbfb; }
  .filter__section--heading {
    margin: 4rem 0 1rem 0;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    color: #fbfbfb;
    font-size: 2.2rem;
    font-weight: 100;
    letter-spacing: 1px; }
  .filter__section--input {
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: transparent;
    border: none;
    width: 100%;
    display: block;
    transition: all .3s;
    color: #fbfbfb; }
    .filter__section--input::placeholder {
      color: #fbfbfb; }
  .filter__section--input:placeholder-shown + .filter__section--label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .filter__section--label {
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s; }

.infoWindow__heading {
  color: #e8443a; }

.infoWindow__description {
  color: #7f1a19; }

.main__heading {
  text-align: center;
  font-family: 'Berkshire Swash', cursive;
  color: #fbfbfb;
  margin: 4rem 0;
  font-size: 6rem;
  font-weight: 200; }
