*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.App {
  height: 100vh;
  width: 100vw; }

#map {
  height: 100vh;
  width: 70vw;
  display: inline-block; }

.sidebar {
  height: 100%;
  width: 30%;
  background-image: linear-gradient(to top right, #faa945, #f3c13a);
  display: inline-block; }
